body {
    display: flex;
    justify-content: center;
  }
  
  .container{
    border: 5px solid #ddd;
    box-shadow: 0px 0px 10px;
    padding: 15px;
    background-color: #ddd;
    margin-top: 140px;
  }

h1{
    text-align: center;
    margin-top: 0%;
}
  
  .botao-calcular{
    text-align:  center;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(44, 41, 41);
    color: white;
    cursor: pointer;
  }